@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #111827 inset !important; /* dark bg */
  -webkit-text-fill-color: #e5e7eb !important; /* light text */
  transition: background-color 9999s ease-in-out 0s;
}
